div.brick-container
  div.container
    div.brick
      div.side1
      div.side2
      div.side3-bin
        div.side3      
      div.stud.stud-col-1.stud-row-4
      div.stud.stud-col-2.stud-row-5
      div.stud.stud-col-2.stud-row-3
      div.stud.stud-col-3.stud-row-4
      div.stud.stud-col-3.stud-row-2
      div.stud.stud-col-4.stud-row-3
      div.stud.stud-col-4.stud-row-1
      div.stud.stud-col-5.stud-row-2
    
  
