// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Lato:wght@300,700&display=swap');

@import './vars.scss';

body {
  --theme-hue-saturation: 230, 71%;
  --theme-lightness: 24%;
  --theme-colour: hsl(var(--theme-hue-saturation), var(--theme-lightness));
  --primary-font-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) - 8%));
  --link-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) + 20%));
  --link-visited-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) + 10%));
  --background-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) + 74%));
  --secondary-background-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) + 70%));
  --tooltip-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) - 16%));

  @media (prefers-color-scheme: dark) {
    --theme-lightness: 76%;
    --theme-colour: hsl(var(--theme-hue-saturation), var(--theme-lightness));
    --primary-font-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) + 8%));
    --link-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) - 20%));
    --link-visited-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) - 10%));
    --background-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) - 74%));
    --secondary-background-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) - 70%));
    --tooltip-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) + 16%));

    &.light-mode {
      --theme-lightness: 24%;
      --theme-colour: hsl(var(--theme-hue-saturation), var(--theme-lightness));
      --primary-font-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) - 8%));
      --link-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) + 20%));
      --link-visited-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) + 10%));
      --background-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) + 74%));
      --secondary-background-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) + 70%));
      --tooltip-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) - 16%));
    }
  }

  &.dark-mode {
    --theme-lightness: 76%;
    --theme-colour: hsl(var(--theme-hue-saturation), var(--theme-lightness));
    --primary-font-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) + 8%));
    --link-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) - 20%));
    --link-visited-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) - 10%));
    --background-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) - 74%));
    --secondary-background-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) - 70%));
    --tooltip-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) + 16%));
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;

  font-size: $body-font-size;
}

body {
  color: var(--primary-font-colour);
  font-family: $font-family;
  font-weight: 300;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;

  background-color: var(--theme-colour);

  color: var(--background-colour);
  line-height: 1.5;

  accent-color: var(--theme-colour);

  button {
    color: var(--background-colour);
  }
}

h1,
h2,
h3 {
  margin: 0.67em 0 0.33em;

  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: $font-size-xxl;
  text-align: center;
}

h2 {
  font-size: $font-size-xl;
}

h3 {
  font-size: $font-size-l;
}

main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: $padding-large 0;
  overflow: auto;

  background-color: var(--theme-colour);

  gap: $padding-large;

  article {
    font-size: $font-size-xl;
    text-align: center;

    gap: $padding-standard;

    .challenge-title {
      margin-right: $padding-large;

      font-weight: 700;
    }
  }
}

countdown-component {
  &.hide {
    display: none;
  }
}

@media screen and (min-width: 680px) {
  $padding-page-width: 10vw;

  main {
    padding: $padding-small $padding-page-width;
  }
}

@media screen and (min-width: 800px) {
  html,
  body {
    font-size: $body-font-size + 2;
  }
}

@media screen and (min-width: 1200px) {
  html,
  body {
    font-size: $body-font-size + 4;
  }
}

@media screen and (min-width: 1600px) {
  html,
  body {
    font-size: $body-font-size + 6;
  }
}
