doctype html
html(lang="en-GB")
  head
    include templates/head.pug
  include templates/brick.pug
  main
    div.header
      h1 WELCOME TO CVC LEGO CLUB!
    countdown-component(data-base-font-size="26").hide
    article.challenge
      span.challenge-title
      span.challenge-text
    
  script(src="./scripts/index.ts" type="module")